<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wztx_peng2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chi2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_bi2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_pao2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_qing2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1008</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_ti2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1260</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_wei2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_xiao2.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1764</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chouwei2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chouxiao2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_guosao2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_kaiduo2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_saochuan2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_saopai2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_sishou2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_xiahuo2.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_bi1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1700</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chi1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_pao1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_peng1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_qing1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_ti1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1008</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_wei1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1260</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_xiao1.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1512</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chouwei1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_chouxiao1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_guosao1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_kaiduo1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_saochuan1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_saopai1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_sishou1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wztx_xiahuo1.png</key>
			<dict>
				<key>width</key>
				<integer>423</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>423</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1275</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wenzitexiao0.png</string>
			<key>realTextureFileName</key>
			<string>wenzitexiao0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>