<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiaosanyuan2.png</key>
			<dict>
				<key>width</key>
				<integer>555</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>haohuaqidui2.png</key>
			<dict>
				<key>width</key>
				<integer>631</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>chaohaohuaqidui2.png</key>
			<dict>
				<key>width</key>
				<integer>795</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>910</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>chaochaohaohuaqidui2.png</key>
			<dict>
				<key>width</key>
				<integer>972</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>530</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>sanyuanqidui2.png</key>
			<dict>
				<key>width</key>
				<integer>536</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>670</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>hu2-yipaoduoxiang.png</key>
			<dict>
				<key>width</key>
				<integer>479</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>859</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>hu5-qiangganghu.png</key>
			<dict>
				<key>width</key>
				<integer>365</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>dianpao.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gang.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>881</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ming.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>qidui.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>538</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>qinyise.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>859</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>zimo1.png</key>
			<dict>
				<key>width</key>
				<integer>226</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>KWX_TypeName2.png</string>
			<key>realTextureFileName</key>
			<string>KWX_TypeName2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>